.hero {
    // background-color: black;
    @extend %bg-img;
    text-align: center;
    // padding: 200px 0;
    // position: relative; // еще есть разница относительно кого делать позиционирования 

    &__container-slider {
        max-width: 1600px;
        // padding: 0 15px;
        margin: 0 auto;
        position: relative;
        z-index: 0;

        &:before {
            content: "";
            background-color: rgba(47, 48, 58, 0.60);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    &__slider {
        font-size: 0;
        position: relative; // еще есть разница относительно кого делать позиционирования 
    }

    &__wrap {
        position: absolute;
        top: 24%;
        // Текст заголовка становится в 3 ряда при центрировании  и его никак не выровнять
        // left: 50%;
        // transform: translateX(-50%);
    }


    &__title {
        max-width: 55%;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 44px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 2.64px;
        text-transform: uppercase;
        color: $white;
    }
}