.hero {
    background-color: black;
    @extend %bg-img;
    text-align: center;
    padding: 200px 0;

    &__title {
        max-width: 63%;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 44px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 2.64px;
        text-transform: uppercase;
        color: $white;
    }
}