.services {
    padding-top: 0;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.1;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        position: absolute;
        width: 100%;
        padding: 25px;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(47, 48, 58, 0.60);
        color: $white;
    }
    
}