.technology {

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        border: 1px solid $text;
        background-repeat: no-repeat;
        background-position: center;

        &--tech1 {
            background-image: url(../../../images/content/tech1.svg);
        }

        &--tech2 {
            background-image: url(../../../images/content/tech2.svg);
        }

        &--tech3 {
            background-image: url(../../../images/content/tech3.svg);
        }

        &--tech4 {
            background-image: url(../../../images/content/tech4.svg);
        }
    }

    &__subtitle {
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        letter-spacing: 0.42px;
        color: $text;
    }
}