.technology {

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__subtitle {
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        letter-spacing: 0.42px;
        color: $text;
    }
}