$default: #212121;
$text: #757575;
$accent: #EC3C05;
$white: #ffffff;
$link: #F29040;
$footer: #070303;
$black: #000;
$team-bg: #F5F4FA;
$border-bt: #ECECEC;


%bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}