.footer {
    padding: 60px 0;
    background-color: $footer;

    &__container {
        display: flex;
        align-items: flex-start;
    }

    &__contact {
        max-width: 240px;
        width: 100%;
        margin-right: 65px;
    }

    &__logo {
        margin-bottom: 22px;
        display: inline-block;
        transition: opacity 0.5s, outline 1s;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            border-radius: 4px;
            outline: 1px solid $accent;
            outline-offset: 5px;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__text {
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $white;
    }
}

.address {

    &__item {
        
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: $link;
        display: inline-block;
        transition: color 0.5s, outline 0.5s, opacity 0.5s;

        &:hover {
            color: $accent;
        }

        &:focus {
            border-radius: 4px;
            outline: 1px solid $accent;
            outline-offset: 5px;
        }

        &:active {
            opacity: 0.6;
        }
        
        &--white {
            color: $white;
        }
    }


    &__icon {
        margin-right: 10px;
    }
}
