.footer {
    padding: 60px 0;
    background-color: $footer;

    &__wrap {
        max-width: 240px;
        width: 100%;
    }

    &__logo {
        margin-bottom: 22px;
        display: block;
    }
}

.address {

    &__item {
        
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: $link;

        &--white {
            color: $white;
        }
    }

    &__icon {
        margin-right: 10px;
    }
}