.footer {
    padding: 60px 0;
    background-color: $footer;

    &__container {
        display: flex;
        align-items: flex-start;
    }

    &__contact {
        max-width: 240px;
        width: 100%;
        margin-right: 65px;
    }

    &__logo {
        margin-bottom: 22px;
        display: block;
    }

    &__text {
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $white;
    }
}

.address {

    &__item {
        
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: $link;

        &--white {
            color: $white;
        }
    }

    &__icon {
        margin-right: 10px;
    }
}
