.header {
    border-bottom: 2px solid $border-bt;
    padding: 22px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 90px;
        transition: opacity 0.5s, outline 1s;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            border-radius: 4px;
            outline: 1px solid $accent;
            outline-offset: 5px;
        }

        &:active {
            opacity: 0.5;
        }
    }



    &__contacts {
        display: flex;
        align-items: center;
        gap: 45px;
    }

    &__link {
        display: flex;
        align-items: center;
        color: $text;
        transition: outline 0.5s, color 0.7s, opacity 0.5s;

        &:focus {
            border-radius: 4px;
            outline: 1px solid $accent;
            outline-offset: 5px;
        }

        &:hover {
            color: $accent;
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}

.menu {
    display: flex;
    align-items: center;

    &__list {
    display: flex;
    }

    &__item {
        
        &:not(:last-child) {
            margin-right: 35px;
        }
    }

    &__link {
        font-size: 16px;
        line-height: 1.1;
        letter-spacing: 0.32px;
        position: relative;
        padding: 20px 0;
        transition: color 0.7s, outline 0.5s, opacity 0.5s;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -10px;
            height: 4px;
            border-radius: 4px;
            background-color: transparent;
            transition: background-color 0.5s;
        }

        &:hover,&.current {
            color: $accent;

            &::after {
                background-color: $accent;
            }
        }

        &:focus {
            border-radius: 4px;
            outline: 1px solid $accent;
            outline-offset: 5px;
        }

        &:active {
            opacity: 0.7;
        }
    }
}
